body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button{
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 2rem;
  margin: 15px;
}

button.on{
  background-color: rgba(36, 156, 0, 0.9);
}

button.off{
  background-color: rgba(175, 0, 0, 0.9);
}